<div class="" ng-controller='createController'>
  <h3>put the questions and options here</h3><a href="#!/dashboard">back</a>
  <form class="" ng-submit='AddPoll(poll)'>

    <label>question:</label>
    <input type="text" name="" value="" ng-model='poll.question'><br>
    <label>option1</label>
    <input type="text" name="" value="" ng-model='poll.option1.name'><br>
    <label>option2</label>
    <input type="text" name="" value="" ng-model='poll.option2.name'><br>
    <label>option3</label>
    <input type="text" name="" value="" ng-model='poll.option3.name'><br>
    <label>option4</label>
    <input type="text" name="" value="" ng-model='poll.option4.name'><br>
    <input type="text" name="" value="" ng-model='current_user._id'><br>
    <input type="submit" name="submit" value="submit">
  </form>
</div>
